html{
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.tasks__listItem--done{
    text-decoration: line-through;
    color: lightgray;
}

.tasks__doneButton{
    background: yellow;
    transition: background 5s ease;
}

.tasks__doneButton--done{
    background: rgb(41, 187, 0);
}