html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, ::after, ::before{
    box-sizing: inherit;
}

:root{
    --icon-width: min(max(6.412vw, 30px), 35px);
    --icon-height: min(max(6.412vw, 30px), 35px);
    --form-font-size: min(max(2.89vw, 14px),17px);
}

body{
    background: rgb(230, 230, 228);
}

.taskList{
    background: rgb(230, 230, 228);
    width: min(1000px, calc(100% - 20px));
    margin-inline: auto;
    padding: 15px;
}

.taskListForm__header{
    background: #fff;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid rgb(180, 178, 178);
    border-bottom: none;
}

.taskListForm__form{
    background: #fff;
    padding: 15px;
    border: 1px solid rgb(180, 178, 178);
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 499px){
    .taskListForm__form{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.taskListForm__addField{
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    font-size: var(--form-font-size);
}

@media screen and (max-width: 499px){
    .taskListForm__addField{
        flex-basis: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.taskListForm__priority{
    margin-right: 10px;
    font-size: var(--form-font-size);
}

.taskListForm__addButton{
    padding: 8px 10px;
    border: 1px solid  rgb(180, 178, 178);
    border-radius: 8px;
    background: #2a7221;
    color: #fff;
    font-size: var(--form-font-size);
    transition: color .65s, background .65s, transform .45s;
}

.taskListForm__addButton:hover{
    color:#2a7221;
    background: #fff;
}

.taskListForm__addButton:active{
    transform: scale(0.95);
}

.tasks{
    background: #fff;
    border: 1px solid rgb(180, 178, 178);
}

.tasks__header{
    margin: 0;
    padding: 15px;
}

.tasks__list{
    border-top: 1px solid rgb(180, 178, 178);
    padding: 20px 15px 0px;
    margin-top: 0;
}

@media screen and (max-width: 499px){
    .tasks__list{
        padding: 20px 5px 0px;
    }
}

.tasks__listItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 5px;
    border-bottom: 1px rgb(146, 142, 142);
}

.tasks__listItem--done{
    text-decoration: line-through;
    color: lightgray;
}

.tasks__doneButton{
    background: rgb(39, 245, 7);
    width: var(--icon-width);
    height: var(--icon-height);
    margin-right: 10px;
    flex-shrink: 0;
    border: 1px rgb(229, 226, 226)
}

.tasks__doneButton:hover{
    opacity: 0.8;
}

.tasks__doneButton--done{
    background: rgb(223, 250, 216);
    background-image: url(graphics/done-icon.png);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    border: none;
}

.tasks__taskContent{
    display: block;
    flex-grow: 1;
    font-size: min(max(3.3vw, 14px), 16px);
}
.tasks__itemButtons{
    display: flex;
}

.tasks__taskPriority{
    margin-right: 5px;

}
.tasks__taskPriority--important{
    display: block;
    height: var(--icon-width);
    width: var(--icon-height);
    background-image: url(graphics/priority-1-icon.png);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.tasks__taskPriority--averange{
    display: block;
    height: var(--icon-width);
    width: var(--icon-height);
    background-image: url(graphics/priority-2-icon.png);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.tasks__taskPriority--nopriority{
    display: block;
    height: var(--icon-width);
    width: var(--icon-height);
    background: #fff;
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.tasks__removeButton{
    width: var(--icon-width);
    height: var(--icon-height);
    border: 1px rgb(229, 226, 226);
    background: rgba(247, 77, 29, 0.918);
    background-image: url(graphics/trash-icon.png);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}

.tasks__removeButton:hover{
    opacity: 0.8;
}